*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Noto Sans', sans-serif;
}

.bg {
	background-image: url("../images/bg.gif");
	height: 100vh;
  	background-repeat: no-repeat;
  	background-size: cover;
}

body {
  height: 100%;
  margin: 0;
}

button {
	padding: 0;
	background: none;
}


.title{
	align-items: center;
	font-family: 'Noto Sans', sans-serif;
	text-align: center;
	padding-top: 250px;
	font-size: 7vh;
	color: whitesmoke;x
}

.contact{
	border-radius: 20%;
	background-color: Transparent;
    background-repeat:no-repeat;
    cursor:pointer;
    overflow: hidden;
    width: 95px;
    height: 45px;
    font-size: 16px;
    color: white;   
}

div > hr{
	width: 50%;
	margin-left: 350px;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #141a2e;
	opacity: 50%;
	position: sticky;
	top:0;
	height: 7vh;

}
nav > ul {
	display: flex;
	list-style-type: none;
	color: white;

}
nav > ul > li {
	margin: 0 20px;
	font-family: 'Noto Sans', sans-serif;
	position: top;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

ul > li > a:link {
	color: white;
}

ul > li > a:visited {
	color: white;
}

ul > li > a:hover {
	color: white;
}

ul > li > a:active {
	color: white;
}


}

.about >h1 {
	text-align: center;

}

.about {
	background-image: url("../images/2nd.jpg");
	height: 90vh;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	text-align: center;
}

.about-contents{
	padding: 50px;
}

.skills{
	background-color: #3b3015 ;
	padding: 40px;
	text-align: center;
}
.two{
	justify-content: space-around;
	display: flex;
	margin: 50px 50px;
}

.pix img{
	height: 250px;
	width: 300px;
	border: 1px solid black;
	border-radius: 5px;
}

.skillspic{
	background-image: url("../images/skills.jpg");
	height: 100vh;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	margin: 30px; 
}

.projects{
	background-image: url("../images/projects.jpg");
	height: 90vh;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	text-align: center;
	padding: 20px;
	
}

.project-pics > a > img {
	height: 30vh;
	width: 30vh;
	border-radius: 10px;
	margin: 100px;
	transition: .5s;
}

.project-pics > a>  img:hover{
	transform: scale(1.6);

}

.contactme {
	text-align: center;
	background: url(../images/contactbg.jpg);
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 20px;
}

