* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

@keyframes checked-anim {
    50% {
        width: 3000px;
        height: 3000px;
    }
    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
@keyframes not-checked-anim {
    0% {
        width: 3000px;
        height: 3000px;
    }
}
li, a {
    margin: 75px 0 -55px 0;
    color: #45a29e;
    font: 14pt "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1.8;
    text-decoration: none;
    text-transform: none;
    list-style: none;
    outline: 0;
    display: none;
}
li {
    width: 230px;
    text-indent: 56px;}
a:focus {
    display: block;
    color: #333;
    background-color: #eee;
    transition: all .5s;

}


#trigger, #burger, #burger:before, #burger:after {
    position: absolute;
    top: 25px;
    left: 25px;
    background: #66fcf1;
    width: 30px;
    height: 5px;
    transition: .2s ease;
    cursor: pointer;
    z-index: 1;
}
#trigger {
    height: 25px;
    background: none;
}
#burger:before {
    content: " ";
    top: 10px;
    left: 0;
}
#burger:after {
    content: " ";
    top: 20px;
    left: 0;
}
#menu-toggle:checked + #trigger + #burger {
    top: 35px;
    transform: rotate(180deg);
    transition: transform .2s ease;
}

#menu-toggle:checked + #trigger + #burger:before {
    width: 20px;
    top: -2px;
    left: 18px;
    transform: rotate(45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu-toggle:checked + #trigger + #burger:after {
    width: 20px;
    top: 2px;
    left: 18px;
    transform: rotate(-45deg) translateX(-5px);
    transition: transform .2s ease;
}
#menu {
    position: fixed;
    opacity: 0.7;
    margin: 0; padding: 0;
    top: 0;
    width: 110px;
    height: 110px;
    background-color: #0b0c10;
    border-bottom-right-radius: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    animation: not-checked-anim .2s both;
    transition: .2s;
}
#menu-toggle:checked + #trigger + #burger + #menu {
    animation: checked-anim 1s ease both;
}
#menu-toggle:checked + #trigger ~ #menu > li, a {
    display: block;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    display: none;
}

#menu-toggle, #trigger, #burger, #menu {
	position: fixed;
}

.aboutme {
	color: #66fcf1;
	padding: 60px 60px 60px 40px;
	font-size: 20px
}

.aboutmedescription {
	padding: 0 60px;
	color: #c5c6c7;
}


/*SECTION 1*/
.section-1 {
	height: 100vh;
	background-image: url(../images/carbon.jpg);
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
}

.section-1 > h1 {
	/*padding-top: 45vh;*/
	color: #66fcf1;
	font-size: 13vh;
	font-family: Futura,Trebuchet MS,Arial,sans-serif; 
}

.section-1 > h2 {
	color: #45a29e;
	font-size: 3vh;
	padding-top: 37vh;
	padding-bottom: 0;
	font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

/*SECTION 2*/
.section-2 {
	background-color: #0b0c10;
	height: 90vh;
	text-align: center;

}

.section-2 > p {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}


/* SECTION 3*/

.section-3 {
	height: 100vh;
	background-image: url(../images/geo.jpg);
	background-attachment: fixed;
	background-size: cover;
	text-align: center;

}

/*SECTION 4*/

.section-4 {
	background-color: #1f2833;
	backface-visibility: 50%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-weight: bold;
}

.section-4 > img {
	height: 70vh;
	width: 70vw;
}

.section-5 {
	height: 100vh;
	background-image: url(../images/italy.jpg);
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
}

.section-6 {
	background-color: #0b0c10;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.projects {
	display: flex;
	flex-direction: row;
}

.projects > a > img {
	display: flex;
	height: 30vh;
	width: 30vh;
	border-radius: 10px;
	transition: .5s;
	margin: 0 50px;
}

.projects > a>  img:hover{
	transform: scale(1.4);
}
.section-6 > p {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

.section-7 {
	height: 100vh;
	background-image: url(../images/bridge.jpg);
	background-attachment: fixed;
	background-size: cover;
	text-align: center;
}